# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and publish
on: 
  push: 
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"        
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Fetch all history for all tags and branches
      run: git fetch --prune --unshallow
    - name: Use Dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.100'
    - name: Build with dotnet
      run: dotnet build src/JHipsterNet.sln --configuration Release /p:Version=1.0.1
    - name: Pack JHipsterNet.Core with dotnet
      run: dotnet pack src/JHipsterNet.Core/JHipsterNet.Core.csproj --output nuget-packages --configuration Release --include-symbols -p:PackageVersion=1.0.1
    - name: Pack JHipsterNet.Web with dotnet
      run: dotnet pack src/JHipsterNet.Web/JHipsterNet.Web.csproj --output nuget-packages --configuration Release --include-symbols -p:PackageVersion=1.0.1
    - name: Push with dotnet
      run: dotnet nuget push '**/*.nupkg' --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
